// --------------------------
// VARIABLES
// --------------------------
$maincolor: rgb(255, 187, 0);
$contrastcolor: black;

@mixin white-text-orange-bg {
  color: $contrastcolor;
  background-color: $maincolor;
}

@mixin black-text-white-bg {
  color: $maincolor;
  background-color: $contrastcolor;
}

// --------------------------
// Header
// --------------------------

nav {
  @include white-text-orange-bg;
  display: flex;
  justify-content: flex-start;

  a {
    @include white-text-orange-bg;
    div {
      margin: 10px;
      font-size: large;
    }
  }
}